*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: d;
    src: url("domain.ttf");
}
@font-face {
    font-family: c;
    src: url("canopee.ttf");
}


html, body{
    scroll-behavior: smooth;
    font-family: inter;
    font-weight: 400;
    height: 100%;
    width: 100%;
    background-color: #F7FFE5;
}

.main{
    position: relative;
    width: 80%;
    /* height: 100%; */
    margin-left: 10%;
    overflow: hidden;
}

.page1{
    width: 100%;
    position: relative;
    background-color: #F7FFE5;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 0px 20px;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0 10px;
}

nav ul li{

    padding: 10px 20px;
}


nav ul li a{
    color: #343434;
    text-decoration: none;
}

.hamburger{
    display: none;
}

.closeMenu{
    display: none;
}

.my-image{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.my-image img{

    height: 60%;
object-fit: cover;

}


.main-content{
    width: 100%;
    height: 35vh;
    background-color: #F7FFE5;
    position: relative;
    top: -265px;
}


.heading{
    margin-top: 20px;
    color: #343434;
    font-family: d;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.heading span{
    color: #A0C49D;
}

.heading h1{
    font-size: 8rem;
    text-align: center;
}

.heading p{
    font-family: inter;
    width: fit-content;
    margin-left: 170px;
}


.breif{
    position: relative;
    margin-top: -225px;
    display: flex;
    justify-content: space-around;
    }





.project-number{
    padding: 10px 0px;
}

.project-thumb img{
    object-fit: cover;
    object-position: center;
}



.social-list-hero ul li {
    padding: 5px 5px;
    list-style: none;
}
.social-list-hero ul li a{
    color: #343434;
}

.about-hero{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.about-hero h2{
color: #A0C49D;
font-size: 1.2rem;
}



.about-hero p{
    width: 250px;
}


.project-work{
    position: relative;
    padding: 20px 10px;
    margin: 10px 0px;
    width: 100%;
    font-family: c;
    text-align: center;
    font-size: 6rem;
    color: #C4D7B2;
    background-color: #F7FFE5;
}

.page2{
    position: relative;
    background-color: #F7FFE5;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
}

.project-thumb img{
    height: 300px;
    width: 400px;
    
            }

.page2-container{
    width: 100%;
}

.section-1{
display: flex;
justify-content: space-around;
}


.project-title-head{
font-family: d;
color: #343434;
font-size: 7rem;
}

.page2breif{
    margin-top: 80px;
}


.page4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.about-png{
    display: flex;
    justify-content: center;
    width: 30%;
}

.about-png img{
    width: 40%;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    background-color: #F7FFE5;
}


.education{
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
}

.details h2{
    font-size: 1.2rem;
    text-align: left;
    color: #A0C49D;
}

.breif2{
    margin-top: 0px;
    flex-direction: column;
}

.con{
    width: 100%;
}


.page5{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F7FFE5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-png img{
    width: 80%;
}


.skills-list{
    width: 40%;
}


.skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;  
}

.stars{
    display: flex;
    justify-content: space-evenly;
}

.star{
    padding: 0px 10px;
    color: #A0C49D;
}






.page6{
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
}

.breif.contact-breif {
    width: 100%;
    margin: 0px;
}


footer{
    background-color: #F7FFE5;
}




@media (max-width: 1140px) {
    .heading h1{
        font-size: 6rem;
        text-align: center;
    }


    .logo{
        padding: 0px 20px;
    }


}


@media (max-width: 840px) {

    .nav-itmems{
    
        position: relative;
        
    }
    
    .nav-items{
        display: none;
    }
    
        nav ul{
            height: 450px;
            z-index: 9;
            font-family: inter;
            flex-direction: column;
            position: absolute;
            top: 70px;
            right: -60px;
            background-color: #C4D7B2;
        }
    
        nav ul li{
    padding: 30px 100px;
        }
    
        .hamburger{
            z-index: 999;
            display: block;
            padding: 10px 20px;
        }
    
        .closeMenu{
            z-index: 999;
            display: none;
            padding: 10px 20px;
        }
    

    .heading h1{
        font-size: 4rem;
        text-align: center;
    }

    .section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .work{
            display: block;}

        .about-me{
            display: block;
        }

        .about-png{
            display: none;
        }

        .skill-png{
            display: none;
        }


        .details{
            width: 100%;
            height: 60vh;
        }
        .details h2{
            text-align: center;
        }

        .education{
            width: 100%;
            padding: 10px 0px;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .education p{
            text-align: center;
            width: 100%;
        }

        .skills-list{
            width: 80%;
        }


        .project-thumb img{
height: 200px;
width: 100%;

        }

        .page2{
            display: flex;
            align-items: center;
            margin: 50px 0px;
        }

.section2{
    margin-top: -50px;
}


        
        .project-title-head{
            font-size: 5rem;
            text-align: center;
            }




}

@media (max-width: 700px) {


    .breif{
    margin-top: none;
    flex-direction: column;
    justify-content: space-around;
    }

    .social-list-hero ul{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        padding: 0px;
    }

    .about-hero{
        text-align: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .about-hero p{
        margin-top: 10px;
        width: 100%;
        
    }
    .heading{
        margin-top: 20px;
    }
    .heading p{
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
       text-align: center;
    }
    



    .star{
        padding: 0px 5px;
    }
    
    
.project-work{
    font-size: 5rem;
}

}

@media (max-width: 400px){

    .project-work{
        font-size: 4.25rem;
    }

}

    @media (min-width: 1600px){
    .main{
        width: 60%;
        margin-left: 20%;
    }
}



